html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    background: #212121;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    min-height: 100%;
    padding-bottom: 15rem;
}

header{
    padding: 20px;
    background: #151515;
}

.mitte{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

#teaser{
    width: 100%;
    height: 300px;
}

#teaser img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav{
    position: sticky;
    top: 0%;
    backdrop-filter: blur(15px);
}

#home{
    text-align: center;
}

footer ul, nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav ul li a{
    font-weight: 600;
    padding: 15px;
    color: #ffff;
    border-radius: 10px;
}

nav ul li a:hover{
    color: #212121;
    background: #ffff;
}

section{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    color: #ffff;
}

footer{
    background: #151515;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;

}

footer p{
    color: #ffff;
    font-weight: 600;
}

footer ul li a{
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 15px;
}

footer ul li a:hover{
    color: rgb(155, 155, 155);
    transition: all ease 0.3s;
}

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #101010 0%, #202020 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-info a{
    color: #ffff;
    font-weight: 500;
}
#projects .project-info a:hover{
    color: rgb(155, 155, 155);
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #101010 0%, #202020 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section */

.news-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.news-box{
    width: 350px;
    background: #151515;
    border: 5px solid #151515;
    border-radius: 5px;
    margin: 20px;
}
.news-img{
    width: 100%;
    height: auto;
}
.news-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.news-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.news-text span{
    color: #ffff;
}
.news-text .news-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #ffff;
}
.news-text .news-title:hover{
    color: rgb(155, 155, 155);
    transition: all ease 0.3s;
}
.news-text p{
    color: #ffff;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.news-text .news-expansion{
    color: #ffff;
}
.news-text .news-expansion:hover{
    color: rgb(155, 155, 155);
    transition: all ease 0.3s;
}

@media screen and (min-width: 800px) {
    #teaser{
        height: 600px;
    }
}

@media(max-width: 550px){ 
    .news-box{
        width: 300px;   
    }
}
